@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
html,
body {
  height: 100%;
  margin: 0px;
}
body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  height: 80vh;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #33b5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .form {
  padding: 40px;
}
.logo {
  text-align: center;
}
.form-module h2 {
  margin: 20px 0;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #178ab4;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}

/*google_login section*/

.google_login button {
  cursor: pointer;
  background: #dd4b39;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  transition: 0.3s ease;
}
.google_login button:hover {
  background: #b52f1f;
}

.google_login,  button::-moz-focus-inner {
  border: 0;
}
