main {
    /* min-width: 900px; */
    min-height: 100vh;
    padding: 5px 25px 25px 25px;
}

p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

.header {
    &__group {
        padding: 15px 0;
        border-bottom: 3px solid black;
    }

    &__meta {
        margin: 0 0 0 auto;
        width: calc(50% - 15px);
        line-height: 1;
    }
}

.items-wrapper {
    padding: 15px 0;
}

#items {
    width: 100%;

    tr {
        &:first-child {
            th {
                border-bottom: 0;
            }
        }
    }

    th,
    td {
        padding: 0 5px;
        border-bottom: 1px solid black;

        &#casamatriz,
        &#local,
        &#existencia {
            border: 2px solid black;
        }

        &.expander {
            width: 100px;
            border-bottom: 0;
        }
    }
}