.dashboard_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 20px;
}

.dashboard_title {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.dashboard_elements {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
  margin-top: 20px;
  grid-gap: 20px;
}

.subtitle {
  font-weight: 700;
}
